
@font-face {
    font-family: ipho;
    src: url(sf-pro-icons_regular.woff2);
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: ipho;
}
html,body{
    height: 100%;
    width: 100%;
}


#nav{
    height: 60px;
    width: 100%;
    background-color: rgb(22, 22, 22);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
#nav h4{
    color: white;
    font-weight: 400;
}
#centre{
    height: 85%;
    width: 100%;
    background-image: url(img.png);
    background-color: black;

    background-size: contain;   /* or use cover */
    background-repeat: no-repeat;  /* IMPORTANT */
    background-position: center;

    text-align: center;
    padding: 35px;
}
#centre h1{
    
    color: white;
    font-size: 60px;
    font-weight: 600;
    
   
}
#centre h5{
    color: white;
    font-size: 40px;
    font-weight: 300;
}
#links{
    
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 10px;
}
#links button{
    background-color:royalblue;
    margin: 10px;
    color: white;
    padding: 13px 20px;
    border-radius: 40px;
    border: none;
    font-size: 20px;
}
#img{
    height: 100px;
    width: 80px;
}