 @font-face {
    font-family: helvetica;
    src: url(helvetica-now-display.ttf);
}
*{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #111;
    color: white;
  
}

#nav{
    padding :10px 30px ;
}

#nav a{
    
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 25px;
}

#main>h1{
    width: 100vh;
    line-height: 1;
    font-size: 300px;
    margin-left: 100px;
    font-weight: 400;
    position: relative;
    
    
    
}

#btmleft{
    width: 300px;
    position: absolute;
    bottom: 15%;
    left: 4%;
}
#btmleft h3{
    font-size: 20px;
    margin-top: 20px;
} 

#btmleft h4{
    font-size : 500px;
    margin-top :30px;
    position :absolute; /** there are the some of the point **/
    width: 40%; 
}

#btmleft h4{
    margin-top: 20px;
    font-size: 30px;
}
#btmbar{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    position: absolute;
    width: 100%;
    padding:20px 60px ;
    bottom: 0;
    left: 0;
    /* background-color: crimson; */
}

#btmbar a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#main>img{
    position: absolute;
}

#first{
   height: 400px;
   width: 250px;
    top :35%;
    left: 63%;
}
#third{
   height: 250px;
   width: 200px;
    top: 59%;
    left: 51%;
}
#second{
   height: 280px;
   width: 230px;
    top: 50%;
    left: 38%;
}
#fourth{
    height : 800 px ;
    width: 500px;
    top: 100px; 
    left 
}